doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        block title
            title Graphnode
            
        link#gn-css(rel="stylesheet", href="main.css")
          
    body
        header
            .header-background
            a(href="/"): h1.header-logo Graphnode
            
        main
            block content
            
        footer
            .span-container
                span “Now I am become dev, the coder of worlds.” 
                span 
                    a(href='mailto:dgomes@graphnode.com') dgomes@graphnode.com
                span Last Updated: #{(new Date()).toLocaleDateString()}
        script.
            var cb = function() {
                var t = document.getElementById('gn-css'); 
                ["//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css", "//fonts.googleapis.com/css?family=Roboto:400,500,700", "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"]
                .forEach(function(u) { var l = document.createElement('link'); l.rel = 'stylesheet'; l.href = u; t.parentNode.insertBefore(l, t); });
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf) raf(cb); else window.addEventListener('load', cb);