extends ./_layout.jade

block title
    title Personal Projects | Graphnode

block content
    ul.items: each project in projects
        li.item(style='background-image:url(' + project.image + ')'): .text
            .title #{project.name}
            .description #{project.description}
            ul.links: each link in project.links
                li.link: a(href=link.url, target='_blank')
                    if link.icon
                        i(class="fa fa-" + link.icon)
                    = link.name